In [7]:
#Create a variable age and assign it the value 25 .Then print the value of age along with its data type using the type() function.
Age = int(input('Enter your age: '))
print (Age)
type(Age)

Enter your age:  25

25

int

In [38]:
#Assign the number 12.5 to a variable price . Print both the variable and its data type. Then assign the value 12 to the
#same variable and print its data 
#type again. What do you observe?
Price = 12.5
print(price)
print(type(price))
price = 12
print( price)
print(type(price))

12.5
<class 'float'>
12
<class 'int'>

In [35]:
#Create a variable is_raining and set it to True . Print the value of the variable
#along with its type. Then set is_raining to False and print the new value and type.
is_raining = True
print(is_raining)
print(type(is_raining))
is_raining = False
print(is_raining)
print (type(is_raining))

True
<class 'bool'>
False
<class 'bool'>

In [40]:
#Create a variable my_name and store your full name in it as a string. Then
#print the value of my_name using single quotes ' .
my_name = 'Aadinath Aware'
print (my_name)

Aadinath Aware

In [58]:
## Write a Python program that asks the user for their name and age using theinput() function.Store the inputs in variables and print a sentence like
#"Hello, [Name]! You are [Age] years old." Ensure you cast the age to an integer.
Name = input('Enter your Name:')
Age = int(input('Enter your Age:'))
print ('hello', Name,'! you are', Age, 'years old.')

Enter your Name: Aadinath
Enter your Age: 23

hello Aadinath ! you are 23 years old.

In [70]:
#Create two variables x and y and assign them the values 10 and 3.5 ,respectively. 
#Print their values and types. Then, create a new variable
#sum_xy and store the sum of x and y . Print the result and its type.
x = 10
y = 3.5
print(x)
print(type(x))
print(y)
print(type(y))
sum_xy = x + y
print (sum_xy)
print(type(sum_xy))

10
<class 'int'>
3.5
<class 'float'>
13.5
<class 'float'>

In [73]:
# Using the type() function, check and print the data type of the following:
# 45.0, "hello", None, False.
print (type(45.0))
print (type('hello'))
print (type(None))
print (type(False))

<class 'float'>
<class 'str'>
<class 'NoneType'>
<class 'bool'>

In [85]:
#Write a Python program to print three strings "apple" , "banana" , and "cherry"
#on the same line, separated by a space. Then modify the program to
#separate the strings using a comma , instead of a space.
print('Apple','Banana','Cherry')
#modify sep
print ('Apple','Banana','Cherry', sep=',')

Apple Banana Cherry
Apple,Banana,Cherry

In [86]:
# Create a variable big_number and assign it a very large integer value (e.g.,987654321987654321 ). 
#Print the value and its type. What do you notice about the size of the number?
Big_number = 495126198498465165415
print (Big_number)
print(type(Big_number))

495126198498465165415
<class 'int'>

In [89]:
# Write a Python program that prints the result of multiplying two floats 
#(e.g., 2.5 and 3.7 ). Then check and print the data type of the result.
x = 2.5 
y = 3.7
print (x*y)
print(type(x*y))

9.25
<class 'float'>